### Java
# Compiled class file
*.class
/.settings/*
/bin/
/target/
/.classpath
/.project
.apt_generated/
.factorypath

# Log file
*.log


### IntelliJ
out/
.idea/
**/*.iml
.idea_modules/


### Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch




### MAVEN
**/target/
/cloudwalk-engine-web/WebContent/META-INF/*.MF
